<h1>Dashboard</h1>
<hr>
<div class="container">
  <div class="row my-4">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="card-title">Grafica</div>
            <div class="body">
              <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [xaxis]="chartOptions.xaxis!"
                [title]="chartOptions.title!"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
